DEBUG=True
SECRET_KEY=change-me-in-production
ALLOWED_HOSTS=127.0.0.1,localhost,web

DB_NAME=fanhub
DB_USER=fanhub
DB_PASSWORD=fanhub
DB_PORT=5432
# DB_HOST задаётся в docker-compose.yml (=db), переопределять не нужно

# REDIS_URL тоже задаётся в docker-compose.yml (=redis), переопределять не нужно

# Заполните, чтобы entrypoint.sh автоматически создал суперпользователя
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_EMAIL=admin@fan-hub.kz
DJANGO_SUPERUSER_PASSWORD=admin12345

# true — наполнить БД демо-данными КПЛ при первом запуске контейнера
SEED_DEMO_DATA=true
